<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="雾课堂">
    <meta name="author" content="第五组">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" href="../favicon.ico">
    <title>新建任务</title>
    <link href="../cpnts/bootstrap4.0.0/css/bootstrap.css" rel="stylesheet">
    <link href="../styles/003xinjianrenwu.css" rel="stylesheet">
    <link href="../cpnts/mint-ui/lib/datetime-picker/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../cpnts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container-fluid" style="padding-bottom: 60px">
    <div class="row row1 fixed-top">
        <div class="col-12">
            <!--“更多”导航栏-->
            <h5 class="text-white text-center zi phonetop">新建任务</h5>
        </div>
    </div>
    <div class="container-fluid" style="padding-left:0px;padding-right: 0px;padding-bottom: 60px">
        <div class="row row2" style="margin-top: 50px">
            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-10 col-md-8 pad0">
                <div class="container-fluid">
                    <div class="text-center bg-white marlr">
                        <div>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-buqian"></use>
                            </svg>
                        </div>
                        <div>
                            <input type="text" placeholder="输入你的任务名称" id="label1">
                            <br><br>
                        </div>
                        <div>
                            <input type="text" placeholder="输入一句鼓励自己的话" id="label2">
                        </div>
                    </div>
                    <div class="row row4 bg-white mar1">
                        <div class="col-1"></div>
                        <div class="col-5"><br>开始日期<br></div>
                        <div class="col-6 pull-right">
                            <br>
                            <input type="date" id="date1">
                            <!--<template>
                                <div class="remember">
                                    <ul>
                                        <li @click="openPicker">选择时间</li>
                                    </ul>

                                    <mt-datetime-picker ref="picker" type="date" v-model="pickerValue"></mt-datetime-picker>

                                </div>
                            </template>-->
                            <br>
                        </div>
                    </div>
                    <div class="row row4 bg-white mar1">
                        <div class="col-1"></div>
                        <div class="col-5"><br>结束日期<br></div>
                        <div class="col-6 pull-right">
                            <br>
                            <input type="date" id="date2">
                            <!--<template>
                                <div class="remember">
                                    <ul>
                                        <li @click="openPicker">选择时间</li>
                                    </ul>

                                    <mt-datetime-picker ref="picker" type="date" v-model="pickerValue"></mt-datetime-picker>

                                </div>
                            </template>-->
                            <br>
                        </div>
                    </div>
                    <div class="row row4 bg-white mar1">
                        <div class="col-1"></div>
                        <div class="col-5"><br>打卡提醒时间<br></div>
                        <div class="col-6 pull-right">
                            <br>
                            <input type="time" id="time">
                            <!--<template>
                                <mt-datetime-picker
                                        type="time"
                                        ref="picker"
                                        @confirm="handleConfirm">
                                </mt-datetime-picker> &ndash;&gt;
                            </template>-->
                            <br>
                        </div>
                    </div>
                    <div class="row row4 bg-white mar1">
                        <div class="col-1"></div>
                        <div class="col-11">
                            重复&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-info btn-sm btn-mar">周一</button>
                            <button class="btn btn-info btn-sm btn-mar">周二</button>
                            <button class="btn btn-info btn-sm btn-mar">周三</button>
                            <button class="btn btn-info btn-sm btn-mar">周四</button>
                            <button class="btn btn-info btn-sm btn-mar">周五</button>
                            <button class="btn btn-info btn-sm btn-mar">周六</button>
                            <button class="btn btn-info btn-sm btn-mar">周日</button>
                        </div>
                    </div>
                    <div class="row row4 bg-white mar1">
                        <div class="col-1"></div>
                        <div class="col-11">
                            能力标签&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-info btn-sm btn-mar">协作能力</button>
                            <button class="btn btn-info btn-sm btn-mar">语言能力</button>
                            <button class="btn btn-info btn-sm btn-mar">创新能力</button>
                            <button class="btn btn-info btn-sm btn-mar">计划能力</button>
                            <button class="btn btn-info btn-sm btn-mar">技术证书</button>
                            <button class="btn btn-info btn-sm btn-mar">校园经历</button>
                            <button class="btn btn-info btn-sm btn-mar">实习经历</button>
                            <button class="btn btn-info btn-sm btn-mar">沟通能力</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-md-2"></div>
        </div>
        <div class="row">
            <div class="fixed-bottom  fixdibu hidden-sm-up">
                            <span class="text-center div5">
                                <a href="02faxianziwo.html">
                                   <svg class="icon icon-faxian" aria-hidden="true">
                                    <use xlink:href="#icon-faxian"></use>
                                </svg>
                                </a>
                            </span>
                <span class="text-center div5">
                                <svg class="icon icon-tubiaozhizuomoban" aria-hidden="true">
                                    <use xlink:href="#icon-tubiaozhizuomoban"></use>
                                </svg>
                            </span>
                <span class="text-center div5">
                                <a href="003tianjiajilu.html">
                                    <svg class="icon icon-tianjia" aria-hidden="true">
                                        <use xlink:href="#icon-tianjia"></use>
                                    </svg>
                                </a>
                            </span>
                <span class="text-center div5">
                                <svg class="icon icon-fenxianglicaichengjiu" aria-hidden="true">
                                    <use xlink:href="#icon-fenxianglicaichengjiu"></use>
                                </svg>
                            </span>
                <span class="text-center div5">
                    <a href="HomePage.html">
                    <svg class="icon icon-wo" aria-hidden="true">
                        <use xlink:href="#icon-wo"></use>
                    </svg></a>
                </span>
            </div>
        </div>
    </div>
</div>
<script>
    var btn  = document.getElementsByTagName("button");
    for(var i=0;i<btn.length;i++){
        (function(index){
            btn[index].onclick = function(){
                if(btn[index].style.backgroundColor === "red"){
                    btn[index].style.backgroundColor = "";
                }else{
                    btn[index].style.backgroundColor = "red";
                }
 
            }
        }(i))
 
    }
</script>
<script src="../cpnts/jquery/jquery-3.3.1.min.js"></script>
<script src="../cpnts/mint-ui/lib/datetime-picker/index.js"></script>
<script src="../cpnts/bootstrap4.0.0/js/bootstrap.min.js"></script>
<script src="../cpnts/mint-ui/datetime-picker.vue"></script>
<script src="../scripts/003xinjianrenwu.js"></script>
<script src="../fonts/icons/font_783350_3kbws5kmv3r/iconfont.js"></script>
</body>
</html>